.button-style{
  background: #f6f6f6;
  border-radius: 8px;
  border: 1px solid #cecece;
  margin-bottom: 30px;
  font-size: 16px;
}
.taskPage{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.taskContainer {
  flex: 1 1 auto;
}
.taskPage__row{
  display: flex;
  height: 100%;
}

label{
  display: block;
  font-family: 'Shadows Into Light';
  font-size: 18px;
  color: #232375;
  text-decoration: underline;
}

input{
  width: 300px;
  font-size: 15px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 8px;
  display: block;
  margin: 20px 10px 30px 0;
}

#priority {
  width: 20px;
  height: 20px;
  display: inline;
}

#priorityLabel{
  font-size: 18px;
  display: inline;
  align-self: center;
  text-decoration: none;
}

textarea{
  overflow: auto;
  resize: none;
  width: 300px;
  height: 50px;
  background: #f6f6f6;
  border: 1px solid #cecece;
  border-radius: 8px 0 0 0;
  padding: 8px 0 8px 10px;
  margin: 10px 0 20px 0;
  display: block;
}
.currStatus{
  font-family: 'Shadows Into Light';
  color: #232375;
  font-size: 18px;
  margin-bottom: 20px;
}

#taskStatus{
  font-size: 16px;
  font-family: sans-serif;
  border: 1px solid #cecece;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
}

#addFileButton{
  @extend .button-style;
  width: 90px;
  height: 30px;
}

#addSubTaskButton{
  @extend .button-style;
  width: 100px;
  height: 50px;
  display: block;
  margin-top: 30px;
}

.addTuskButton{
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  display: inline-block;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 1.5px 1.5px rgb(0,0,0);
  background-color: #21214b;
  color: #fff;
}