.header {
  background-color: #e3e1e1;
}

.header__container {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-family: 'Shadows Into Light';
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header__title {
    font-size: 30px;
    letter-spacing: 4px;
    height: 70px;
  }
}