.footer {
  background-color: #dd7dea;
}

.footer__container {
  display: flex;
  height: 65px;
  justify-content: center;
  align-items: center;
}

.footer__text {
  font-family: 'Shadows Into Light';
  font-size: 14px;
  letter-spacing: 0.3px;
  font-weight: bold;
  letter-spacing: 2px;
}