.footer {
  background-color: #e3e1e1;
}

.footer__container {
  display: flex;
  height: 55px;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 0 0 -13px rgba(246, 246, 246, 1);
}

.footer__text {
  font-family: 'Shadows Into Light';
  font-size: 16px;
  letter-spacing: 2px;
}